{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Desafio do 1º Ano 🎉</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="top">
        🎉 DESAFIO DO 1º ANO DO DUDU🎉
    </header>


    <main class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="msg">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>